{% extends "base.html" %}
{% block css %}<link rel="stylesheet" href="../static/css/StyleMailPage.css">{% endblock css %}
{% block header %}
                    <li><a href="home.html">О нас</a></li>
                    <li><a href="dog.html">Каталог собак</a></li>
                    <li><a href="cat.html">Каталог кошек</a></li>
                    <li><a href="volunteering.html">Волонтёрство</a></li>
                    <li><a href="help.html">Помощь</a></li>
                    <li class="active">
                        <a href="mail.html"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a>
                    </li>
{% endblock header %}
{% block content%}
    <!-- Форма отправки -->
    <div id="input_forms">
        <div class="container">
            <div class="row centered">
                <div class="col-md-12">
                    <h3>Пишите нам!</h3>
                    <p>Если Вы хотите взять животное, помочь приюту, записаться в программу волонтёрства или у Вас есть какой-то вопрос или предложение к нам, то заполните форму ниже и отправьте.</p>
                    <p>Ваше письмо будет обработано в течение 24 часов. Выбор темы Вашего письма сильно облегчит нам жизнь)</p>
                </div>
                <br>

                <form id="form" method="POST" class="formWithValidation">
                  <div class="row">
                      <div class="form-group col-md-12">
                          <label for="theme" class="h4">Выберете тему:</label>
                          <select class="form-control" id="theme" name="theme">
                              <option>Взять животное</option>
                              <option>Волонтёрство</option>
                              <option>Помощь</option>
                              <option>Другое</option>
                          </select>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="firstname" class="h4">Введите ваше имя:</label>
                          <input type="text" class="form-control field" id="firstname" name="firstname" placeholder="Имя">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="secondname" class="h4">Введите вашу фамилию:</label>
                          <input type="text" class="form-control field" id="secondname" name="secondname" placeholder="Фамилия">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="phone" class="h4">Введите ваш номер телефона:</label>
                          <input type="text" class="form-control field" id="phone" name="phone" placeholder="Телефон">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="email" class="h4">Введите ваш email:</label>
                          <input type="text" class="form-control field" id="email" name="email" placeholder="Email">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="message" class="h4 ">Введите ваше сообщение:</label>
                      <textarea id="message" name="message" class="form-control field" rows="5" placeholder="Сообщение"></textarea>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-success btn-lg pull-right">Отправить</button>
                </form>

                <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
                <script type="text/javascript">
                   $(function() {
                      $("#form").on("submit", function() {
                         var theme = $('#theme').val();
                         var firstname = $('#firstname').val();
                         var secondname = $('#secondname').val();
                         var phone = $('#phone').val();
                         var email = $('#email').val();
                         var message = $('#message').val();
                         $.get("/send/", {"theme": theme, "firstname": firstname, "secondname": secondname, "phone": phone, "email": email, "message": message})
                             .done(function(data) {
                            alert(data);
                         });
                      });
                    });
                </script>
            </div>  
        </div>
    </div> 
{% endblock content %}
{% block js %}
    <script src="../static/js/jsMailPage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>
    $(function() {
      $(document.getElementById('phone')).mask('+7(000)000-00-00');
    });
    </script>    
    <!-- /jQuery Mask Plugin -->
{% endblock js %}