{% extends "base.html" %}
{% block css %}<link rel="stylesheet" href="../static/css/StyleVolunteeringPage.css">{% endblock css %}
{% block header %}
                    <li><a href="home.html">О нас</a></li>
                    <li><a href="dog.html">Каталог собак</a></li>
                    <li><a href="cat.html">Каталог кошек</a></li>
                    <li class="active">
                      <a href="volunteering.html">Волонтёрство</a>
                      </li>
                    <li><a href="help.html">Помощь</a></li>
                    <li><a href="mail.html"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a></li>
{% endblock header %}
{% block content%}
    <!-- Кто такой волонтёр? -->
    <div id="who">
        <div class="container">
            <div class="row centered">
                <div class="col-md-6">
                    <h3>Кто такой волонтёр?</h3>
                    <p>Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли.</p>
                </div>
                <div class="col-md-6">
                    <div class="row-md-4">
                      <br>
                        <div class="tilt">
                            <img src="../static/images/volunteering (5).jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Что делает волонтёр? -->
    <div id="what">
        <div class="container">
            <div class="row centered">
                <div class="col-md-6">
                    <div class="row-md-4">
                      <br>
                        <div class="tilt">
                            <img src="../static/images/volunteering (6).jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Что делает волонтёр?</h3>
                    <p>Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Как стать волонтёром? -->
    <div id="how">
        <div class="container">
            <div class="row centered">
                <div class="col-md-6">
                    <h3>Как стать волонтёром?</h3>
                    <p>Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли. Кораблю безопасно в гавани, но не для этого строят корабли.</p>
                </div>
                <div class="col-md-6">
                    <div class="row-md-4">
                      <br>
                        <div class="tilt">
                            <img src="../static/images/volunteering (4).jpg">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                  <a href="mail.html" class="btn btn-lg btn-block" role="button" aria-disabled="true">Стать волонтёром</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}